@import "_variables.scss";
@import "_mixins.scss";


.container {
    display: grid;
    grid-template-columns: minmax(60px, 100px) 1fr;
    height: 100%;
}

.sideContainer {}

.mainContainer {
    height: 100%;
    width: 100%;

    //background: $background-container;
    background: linear-gradient(140deg, $blue-white 30%, #285381 90%), url("../images/world.svg");
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1.3rem;

    @include mobile {
        grid-template-columns: 1fr;
    }

    gap: 1rem;
}