@import "_variables.scss";
@import "_mixins.scss";

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  color: $black;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.9rem;
}

h3 {
  font-weight: 600;
  font-size: 2rem;
}

h5 {}

p {
  font-weight: 300;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}


/* Define the scrollbar style */
::-webkit-scrollbar {
  width: 12px;
  /* Width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: $blue-grey;
  /* Blue color */
  border-radius: 6px;
  /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: $blue-light;
  /* Darker shade of blue on hover */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Light grey color for the track */
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
  background: #e0e0e0;
  /* Slightly darker shade of grey on hover */
}

/* Corner */
::-webkit-scrollbar-corner {
  background: transparent;
  /* Transparent background for the scrollbar corner */
}